@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Merriweather", serif;
}

.theme-color-primary {
  color: #f2dfce !important;
}

.gucci-text-yellow {
  color: #bd9302;
}
.gucci-bg-yellow {
  background-color: #bd9302;
}

.gucci-text-green {
  color: #0a6a56;
}

.gucci-bg-green {
  background-color: #0a6a56;
}

.gucci-text-red {
  color: #a82b11;
}
.gucci-bg-red {
  background-color: #a82b11;
}

/* Ant design overrides */
.ant-message-custom-content {
  display: flex;
  align-items: center;
}
.ant-btn-loading-icon {
  display: flex !important;
}
